top-start=3em

footer
  margin-top 1em
  background #1f1f1f
  padding 0 2% 0.5em

#footer
  position: relative

  color: color-grey
  margin-top 1em
  padding 0 2% 0.5em

  .line
    width 100%
    height 10em
    margin 0 auto
    @media mq-mini
      width 10em
      float left
      position relative
    span
      display block
      width 0.5em
      height 6.25em
      border-right 0.125em solid white
      margin 0 auto
      @media mq-mini
        position absolute
        left 3em
        margin 0 0 1.5em
      @media mq-mobile
        height 3em

  .author
    width w = (110 / 16) em
    height w
    margin 0 auto
    background no-repeat url("/images/moi.jpg") left top
    background-size w w
    border-radius (w/ 2)
    @media mq-mini
      position: absolute;
      top 2em
      margin 0 0 1.5em

  .info
    line-height line-height+0.15
    margin 0 auto
    color #d0d0d0
    font-style italic
    @media mq-mini
      margin 2em 0 2em 0
    @media mq-mobile
      margin-top 0

  p
    line-height: 1.35em;
    padding-top: 12px;

  .social-font
    padding-top 1.5em;
    @media mq-mobile
      padding-top: 0.5em;
      text-align center
    a
      font-size 200%
      padding 0.3em
      float left
      @media mq-mobile
        float none


  .fa:before
    font-smoothing()

  .outer
    text-align: center

  #footer-info
    line-height: line-height
    font-size: 0.85em

#gotop
  width: 36px
  height: 36px
  position: fixed
  bottom: 40px
  right: 30px
  border-radius: 50%
  text-decoration: none
  background-color: color-grey
  color: #fff
  line-height: 31px
  font-size: 30px
  text-align: center
  font-weight: 700
  display: none
  &:focus
    outline: none